/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* body {
  margin: 0;
  font-family: "Montserrat";
} */
/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url("./Fonts/Poppins-LightItalic.ttf");
}

body {
  margin: 0; 
  font-family: Roboto !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto !important;
}

html {
  font-family: Roboto !important;
}

* {
  outline: none;
}

/* Wcomponents */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fast-food {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.searchBar {
  border: 1px solid black;
  outline: none;
  color: black;
  width: 30%;
  margin-left: 25%;
  border-radius: 5px;
}

.main-card--container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  grid-gap: 50px;
  justify-content: space-around;
}
.card-container {
  margin: 25px 0 auto;

  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
}

.mySelect {
  width: 90%;
  padding: 10px;
  outline: none;
}

.sup {
  margin-top: 2%;
  color: black;
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 10px;
}
.sup .left {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  gap: 10px;
}
.sup .left img {
width: 150px ;
}


.sup p {
  border: 1px solid #232b4b;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  background-color: #232b4b;
}
.sup .right .btn {
  border: 1px solid #5b63d3;
  width: 200px;
  background-color: #5b63d3;
  padding: 5px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 0;
}
.sup .right .btn:hover {
  background-color: #4c52b0;
}

.hover-btn {
  background-color: #ff5370;
  border: 1px solid #ff5370;
  color: #fff;
  width: 200px;
  padding: 5px;
  font-size: 1.3rem;
  font-weight: bold;
}
.hover-btn:hover {
  background-color: #c24e61;
  border: 1px solid #c24e61;
}

.specialDiv {
  color: #fff;
  border: 1px solid #5b63d3;
  background-color: #5b63d3;
  width: 300px;
  text-align: center;
}
.specialDiv p {
  cursor: pointer;
  padding: 5px;
}
.specialDiv p:hover {
  background-color: #232b4b;
}

.upperDiv {
  display: flex;
  transition: 0.5s;
  gap: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
}
.upperDiv div {
  background-color: #4099ff;
  border: 1px solid #4099ff;
  color: #fff;
  width: 150px;
  padding: 5px !important;
  padding-top: 10px !important;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.upperDiv div:hover {
  background-color: #2476d4;
  border: 1px solid #2476d4;
}


.pag{
  color: black;
}


.item {
  align-items: center;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.disabled-page {
  color: #808e9b;
}

.active {
  border: solid 1px #808e9b;
  border-radius: 40px;
  color: #808e9b;
}

.break-me {
}

.next {
  border-left: solid 1px #808e9b;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  width: 150px;
}

.pagination {
  align-items: center;
  background-color: #0fbcf9;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 100%;
}

.pagination-page {
  font-weight: 700;
}

.previous {
  border-right: solid 10px #808e9b;
  font-size: 20px;
  height: 100px;
  left: 0;
  position: absolute;
  width: 150px;
}



